@charset "utf-8";
/*CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Inter:wght@100..900&display=swap');

* {
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

/*tipografias*/
h1 {
    color: #001AFF;
    font-family: Inter;
    font-size: 8rem;
    font-style: normal;
    font-weight: 900;
    line-height: 112%;
    text-transform: uppercase;
}

h2 {
    color: #001AFF;
    font-family: Inter;
    font-size: 5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

h3 {
    color: #000;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}


h4 {
    color: #001AFF;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.27rem;
}


p {
    color: #01003F;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 34rem;
}

header h3 {
    font-size: 3em;
    line-height: 90px;
}



body {
    /*crear nuevo cursor y cambiar*/
    cursor: url(img/cursor-blanco.png), auto;

}

/*cursor*/
#botones-contacto a,
.botonera ul li a {
    cursor: url(img/cursor-mano.png), auto;
}


/*CLASS*/
/*---carteles---*/
.cartel-blanco-azul {
    border-radius: 1.25rem;
    border: 3px solid #01003F;
    background: #FFF;
    padding: 2rem;
    gap: 1.4375rem;

}

.cartel-linea {
    display: flex;
    width: 100%;
    padding: 0.625rem 1.625rem;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--negro, #000);
}

.estrella-titulo {
    display: flex;
    align-items: center;
    gap: 0.875rem;
}





/*botones*/
.boton-azul {
    color: #78B9F4;
    border-radius: 1.25rem;
    border: 3px solid var(--3, #01003F);
    background: var(--3, #01003F);
}

.boton-azul p {
    color: #78B9F4;
}



/*CIERRE CLASS*/
/*INICIO HEADER */
/* botonera*/
.botonera {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px 60px;
}


.botonera ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.botonera ul li a {

    display: flex;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    color: #78B9F4;
    border-radius: 30px;
    padding: 20px;
    gap: 1rem;

}

.botonera ul li a:hover,
.boton-active a {
    border: 2px solid #0026ff;
    color: #0026ff;
}

/*presentacion*/
.presentación {
    border: 3px solid #01003F;
    padding: 2.75rem 8.9375rem 2.75rem 5.5rem;

    gap: 1.6875rem;
}

.presentación h2 {
    color: #001AFF;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}



/*footer*/
footer {
    padding: 20px;
}

.contenedor-footer {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

/*INDEX*/
/*section sobremi*/
#sobre-mi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.6875rem;
}

#contenedor-imagen {
    border: 3px solid #01003F;
    width: 45.00681rem;
    height: 39.0095rem;
    background-image: url();
    background-size: cover;
    background-position: center;
}

/*section habilidades*/
.contenedor-programas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1.875rem;
    padding: 2rem;
    border: 3px solid #01003F;
    background: #FFF;
}

.programas {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0rem 0.23275rem;
    flex-wrap: wrap;
}

/*section contacto*/

/* FIN INDEX*/

/*CONTACTO*/
/*FIN CONTACTO*/


/*TRABAJOS*/
/*FIN TRABAJOS*/



/*HOBBIES*/
/*FIN HOBBIES*/
/*----galeria----*/
#pages-galeria {
    background-color: #fff;
}

.galeria {
    width: 80%;
    margin: auto;
}

.galeria-fotos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: space-around;
    justify-content: space-around;
}

.galeria-item {
    position: relative;
    overflow-wrap: normal;

}

.galeria-item img {
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.3s, transform 0.3s;
}

.galeria-item img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

/*Contacto*/
#intro-contacto {
    margin: auto;
    width: 100%;
}

#encuesta-mapa {
    display: flex;
    justify-content: space-evenly;
    gap: 4rem
}

#encuenta-contenedor {
    width: 50%;
}

form {
    padding: 30px;
    width: 100%;
    border-radius: 1.875rem;
    background: var(--1, #78B9F4);
    display: flex;
    padding: 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.3125rem;
}

form label {
    padding: 20px 10px;
    display: flex;
}

.preguntas-encuesta {
    padding: 20px;
    display: flex;
    width: 14.31906rem;
    padding: 0.54863rem 1.09725rem;
    flex-direction: column;
    align-items: flex-start;
}

.opciones-encuesta {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.opciones-encuesta label {
    padding: 0px 10px;
}


.flecha {
    display: flex;
    height: 106px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    left: 3px;
    padding-bottom: 60px;
    animation: movimiento 1s ease-in-out infinite;
}